<ul>
  <%= for game <- @games do %>
    <li>
      <strong><%= game.name %></strong> (<%= game.host.username %>)
      <br />
      created_at: <%= game.inserted_at %> <br />
      updated_at: <%= game.updated_at %>
    </li>
  <% end %>
</ul>
