<div class="columns">
  <div class="column">
    <%= if @current_user do %>
      <button class="button primary" phx-click="create_game">
        Create Game
      </button>
    <% end %>
  </div>

  <div class="column">
    <h1>Open Games</h1>
    <br/>
    <%= render "game_list.html", games: @open_games %>
  </div>

  <div class="column">
    <h1>Active Games</h1>
    <br/>
    <%= render "game_list.html", games: @active_games %>
  </div>
</div>
