<div class="columns">
  <div class="column">
    <span>
      This is where a new game button might go
    </span>
  </div>

  <div class="column">
    <h1>Open Games</h1>

    <ul>
      <li>Game One</li>
      <li>Game Two</li>
    </ul>
  </div>
</div>
